body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: transparent;
}

#aare {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    outline: 1px solid red;
    z-index: -1;
}
.min20 {
    min-height: 20vh;
}
.container {
    position: relative;
}
.hidden {
    display: none;
}
.display-hidden {
    display: inline;
}
.fin {
    display: none;
}